<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Cột Giới Thiệu -->
            <div class="col-md-4">
                <h5>GIỚI THIỆU</h5>
                <p><strong>GIẢI PHÁP AN NINH - AN TOÀN VSAFE - PLATFORM</strong></p>
                <p>Address: 232 Đ. Phạm Văn Đồng, Khu đô thị Thành phố Giao lưu, Bắc Từ Liêm, Hà Nội, Việt Nam</p>
                <p>Hotline: 0377 32 63 68</p>
                <p>Email: <a href="mailto:info@gmail.com">info@gmail.com</a></p>
                <p>Website: <a href="http://vsafeplatform.com.vn/">http://vsafeplatform.com.vn/</a></p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <!-- Cột Dịch Vụ & Giờ Làm Việc -->
            <div class="col-md-4 text-center">
                <h5>DỊCH VỤ KHÁCH HÀNG</h5>
                <ul class="footer-links">
                    <li><a href="#">Chính sách quyền riêng tư</a></li>
                    <li><a href="#">Tuyên bố về khả năng truy cập</a></li>
                    <li><a href="#">Điều khoản điều kiện</a></li>
                    <li><a href="#">Chính sách hoàn tiền</a></li>
                </ul>
                <h5>GIỜ LÀM VIỆC</h5>
                <p>T2 - T7: 8:00 - 17:00</p>
                <p>(Nghỉ CN và ngày lễ)</p>
            </div>

            <!-- Cột Kết Nối Với Chúng Tôi -->
            <div class="col-md-4 text-md-right text-center">
                <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
               
            </div>
        </div>
    </div>
</footer>
