
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('../nav.ejs') %>

    <div class="container-sp mt-5">
        <div class="breadcrumb-custom">
            <div class="breadcrumb-content">
                <div>
                    <a href="/" class="breadcrumb-link">Trang chủ</a> / <span>FLAME 01</span>
                </div>
                <div>
                    <button class="btn btn-light" onclick="window.location.href='/sanpham7'">&lt; Trước</button>
                    <button class="btn btn-light" onclick="window.location.href='/sanpham9'">Tiếp &gt;</button>
                </div>
            </div>
        </div>
        <div class="product-container-gt">
            <div class="col-md-6 d-flex flex-column">
                <div class="product-image-sp">
                    <img src="/image/sp8.jpg" alt="Sản phẩm" class="img-fluid">
                </div>
                <div class="product-info mt-4">
                    <ul>
                        <li>- Cảm biến lửa UV có khả năng phát hiện ra ngọn lửa từ cách xa 25m với góc quét 110*. (Lắp kèm bộ Router).</li>
                    </ul>
                </div>
            </div>
            <div class="product-right">
                <h1 class="product-title">FLAME 01</h1>
                <p class="product-price-sp">200<span class="currency" style="text-decoration: underline;">đ</span></p>
                <button class="btn  contact-btn">Liên hệ</button>

                 <!-- Thông tin chi tiết -->
                <div class="details-container">
                    <div class="details-header" onclick="toggleDetails()">
                        <h2>Thông tin chi tiết</h2>
                        <span id="toggle-icon">-</span>
                    </div>
                    <!-- <div id="details-content">
                        <table class="details-table">
                            <tr><td>Xuất xứ</td><td></td></tr>
                            <tr><td>Bảo hành</td><td>Chính hãng</td></tr>
                            <tr><td>Điện áp hoạt động</td><td>DC 20V~28V</td></tr>
                            <tr><td>Dòng điện hoạt động</td><td>Chế độ chờ: ≤23mA Báo động: ≤33mA Căn chỉnh: ≤55mA</td></tr>
                            <tr><td>Ngưỡng tương ứng</td><td>2.3dB ±0.5dB</td></tr>
                            <tr><td>Khả năng tiếp nhận Relay [Báo cháy & Sự cố]</td><td>Mở bình thường 2.0 A 30 VDC</td></tr>
                            <tr><td>Chiều dài đường chùm tia</td><td>8m ~ 100m</td></tr>
                            <tr><td>Khu vực giám sát</td><td>Diện tích tối đa: 14 x 100 = 1400m² Chiều rộng tối đa: 14m</td></tr>
                            <tr><td>Đèn chỉ thị LED</td><td>Cháy: Đỏ Lỗi: Vàng Căn chỉnh: Xanh lá Giám sát: Đèn LED đỏ nhấp nháy định kỳ</td></tr>
                            <tr><td>Nhiệt độ hoạt động</td><td>6-100C to +550C</td></tr>
                            <tr><td>Độ ẩm</td><td>0 đến 95% Độ ẩm tương đối</td></tr>
                            <tr><td>Vật liệu / Màu sắc</td><td>ABS / Xám</td></tr>
                            <tr><td>Lớp bảo vệc</td><td>IP30</td></tr>
                            <tr><td>Trọng lượng</td><td>476g với đế</td></tr>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
        <%- include('../footer.ejs') %> 
    </div>
    


  
</body>
</html>
<script>
    function toggleDetails() {
    const details = document.getElementById("details-content");
    const icon = document.getElementById("toggle-icon");

    if (details.style.display === "none") {
        details.style.display = "block";
        icon.textContent = "-";
    } else {
        details.style.display = "none";
        icon.textContent = "+";
    }
}

</script>

